{% load static %}
<div class="recent-works-section">
    <section id="recent-works" class="container my-5">
        <div class="text-center mb-4">
            <h2>Recent Works</h2>
        </div>
        <div class="row">
            <div class="col-sm-6 col-md-4 mb-4">
                <div class="image-card">
                    <img src="{% static 'images/beach/IMG-20210605-WA0004.jpg' %}" alt="Beach Work">
                    <div class="time-blog">20 Jan 2023, Powai, Mumbai.</div>
                </div>
            </div>
            <div class="col-sm-6 col-md-4 mb-4">
                <div class="image-card">
                    <img src="{% static 'images/beach/IMG-20210605-WA0019.jpg' %}" alt="Tree Plantation">
                    <div class="time-blog">28 July 2023, Bhandup, Mumbai.</div>
                </div>
            </div>
            <div class="col-sm-6 col-md-4 mb-4">
                <div class="image-card">
                    <img src="{% static 'images/Tree/IMG-20210801-WA0050.jpg' %}" alt="Tree Plantation">
                    <div class="time-blog">24 February 2023, Bingipura, Bengaluru.</div>
                </div>
            </div>
            <div class="col-sm-6 col-md-4 mb-4">
                <div class="image-card">
                    <img src="{% static 'images/social/271932767_213665424310320_8896126672539067811_n.jpg' %}" alt="Tree Plantation">
                    <div class="time-blog">24 February 2023, Bingipura, Bengaluru.</div>
                </div>
            </div>
        </div>
    </section>
    <a href="" class="see-all"> <h3>SEE ALL >>>>>></h3></a>
</div>
